name: CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t fastapi-app:latest .

      - name: Deploy to Minikube
        run: |
        
          kubectl apply -f k8s.yaml  --validate=false
          kubectl rollout restart deployment/fastapi-app
          kubectl rollout status deployment/fastapi-app
